.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 221px;
    background-color: #F0F5F5;
    border-top: 1px solid #CDD2DD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Устанавливаем z-index, чтобы Footer оставался поверх содержимого страницы */
}

.footer__content {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.footer__content p {
    margin-top: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.footer__docs {
    padding-left: 80px;
    margin-top: -10px;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__links li {
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.footer__links a {
    text-decoration: none;
    color: var(--gray);
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.footer__socials {
    padding-right: 35px;
}

.footer__social {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: -45px;
}

.footer__social li {
    margin-right: 30px;
}

.footer__social img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .footer__docs {
        padding-left: 20px;
        margin-top: 0;
    }

    .footer__socials {
        padding-right: 15px;
    }

    .footer__social li {
        margin-right: 15px;
    }
}

@media screen and (max-width: 590px) {
    .footer {
        flex-direction: column;
        height: 380px;
    }

    .footer__docs {
        order: 2;
        width: 150px;
        margin: -100px auto 0;
    }

    .footer__links li {
        text-align: center;
    }

    .footer__content {
        order: 1;
        width: 120px;
        margin: 40px auto -50px;
    }

    .footer__content p {
        display: none;
    }

    .footer__socials {
        order: 3;
        margin-top: 20px;
    }

    .footer__socials ul {
        width: 100px;
        margin: -150px auto 50px;

    }

    .footer__socials:after {
        content: '©2022 All rights reserved. Powered by Atla';
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
        margin-top: 30px;
        color: var(--gray);
    }
}