:root {
  --primary: #08D899;
  --gray: #676767;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}